.boxed{
    border: 1px solid black;
    background-image: url("../IMG/alsur.jpeg");
    height: 225px;
}
body{
    padding: 5px;
    margin: 10px;
}
h1{
    text-align: center;
}
.topnav{
    background-color: gray;
    height: 60px;    
}
a{
    color: black;
    float: right;
    font-size: 25px;
    text-decoration: none;
    padding: 15px 5px;
    display: block;
    align-content: center;
    
}
.topnav a:hover{
    background-color: lavender;
    color: black;
    height: 30px;
}
#background{
    
}
]