body{
    margin: 0px 0px 0px 0px;
    height: 100vh;
    
}
#container{
    width: 100vm auto;
    height: 10vh;
    background-color: burlywood;
    
}
#menu{
    background-color: darkslateblue;
    text-transform: uppercase;
    height: 10vh;
  
}
h1 {
    color: black;
    font-size: 2rem;
    text-align: center;
}
#header{
    background-color: burlywood;
   
}
#leftcolumn{
    float: left;
    width: 20vw;
    height: 100vh;
    background-color: cadetblue;
}

#rightcolumn{
    float: right;
    width: 20vw;
    height: 100vh;
    background-color: cadetblue;
    
}
.category{
    height: 10vh;
    width: 10vw;
    background-color: grey;
    border: 1px solid black;
    margin: 5px auto;
    
}

h2 {
    font-weight: bold;
    color: #150e26;
    font-size: 24px;
    text-align: center;
}

div {
    color:black;
    padding: 5px;
}

form button{
    border: 1px solid;
    height:25px;
    width:115px;
    background-color: azure;
    text-align: center;
    margin: auto;
}

form{
    background-color: #dcceff;
    display: block;
    width: 500px;
    box-sizing: border-box;
    padding: 5px;
    margin: 10% auto;
    
}
#form{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    bottom: auto;
    border: 1px solid black;
    align-content: center;

}
form input{
    border: 1px solid; color: black;
  
}
input:focus{
    outline-color: black; 
    color: black;
}
ul{
    display: block;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background color: gray;
    border: 0px solid black;
    height: 20vh;
    width: 15vw;
    
}
a{
    color: black;
    text-align: center;
    display: block;
    text-transform: capitalize;
}
li{
    display: list-item;
    float: left;
    padding: 5px;
    box-sizing: border-box;
    
}
#footer{
    height: 10vh;
    text-transform: capitalize;
    background-color: darkslateblue; 
}

@media (min-width: 412px) and (max-width: 732px){
    #leftcolumn {
        background-color: lightgoldenrodyellow;
        width: 100%;
        height: 50vh;
    }
    .category {
        width: 50%;
        margin: 2vh auto;
        height: 10vh;
    }
    #form{
        width: 100%;
        height: 50vh;
        background-color: lavender;
    }
      #rightcolumn{
        background-color: lightgoldenrodyellow;
        width: 100%;
        height: 50vh;
    }
    }

    